.getting-started{
    height: 40vh;
    width: 20vw;
    margin: 20vh 20vw;
    box-shadow: 1px 1px 5px 1px rgb(85, 84, 84);
}
.getting-started h2{
    height: 8vh;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.getting-started .unlist{
    height: 26vh;
    width: 20vw;
}
.getting-started .unlist li{
    height: 6vh;
    width: 18vw;
    margin-left: 2vw;
    
}
.submit{
  height: 4vh;
  width: 18vw;
  margin: 1vh 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: tomato;
  color: aliceblue;
  font-weight:700;
}